<app-navbar></app-navbar>
<div class="header">
    <div class="container">
        <h1>Gallery</h1>
        <button class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">
            Add Image</button>
    </div>
</div>

<body class="container">
    <div class="contain">
        <div class="box">
            <div class="content">
                <img src="../../../assets/img/dues.jpg" alt="pics" data-fancybox="gallery"
                data-caption="image1">
                <h2>Image Title 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque natus 
                    voluptatibus voluptas quod est ut nulla amet rerum? Perspiciatis dolore enim 
                </p>
            </div>
        </div>
            
        <div class="box">
            <div class="content">
                <img src="../../../assets/img/excos.jpg" alt="pics" data-fancybox="gallery"
                data-caption="image2">
                <h2>Image Title 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque natus 
                    voluptatibus voluptas quod est ut nulla amet rerum? Perspiciatis dolore enim 
                </p>
            </div>
        </div>
            
        <div class="box">
            <div class="content">
                <img src="../../../assets/img/gallery.jpg" alt="pics" data-fancybox="gallery"
                data-caption="image3">
                <h2>Image Title 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque natus 
                    voluptatibus voluptas quod est ut nulla amet rerum? Perspiciatis dolore enim 
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="../../../assets/img/news.jpg" alt="pics" data-fancybox="gallery"
                data-caption="image4">
                <h2>Image Title 4</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque natus 
                    voluptatibus voluptas quod est ut nulla amet rerum? Perspiciatis dolore enim 
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="../../../assets/img/school.jpg" alt="pics" data-fancybox="gallery"
                data-caption="image5">
                <h2>Image Title 5</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque natus 
                    voluptatibus voluptas quod est ut nulla amet rerum? Perspiciatis dolore enim 
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="../../../assets/img/teacher.jpg" alt="pics" data-fancybox="gallery"
                data-caption="image6">
                <h2>Image Title 6</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque natus 
                    voluptatibus voluptas quod est ut nulla amet rerum? Perspiciatis dolore enim 
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="../../../assets/img/excos.jpg" alt="pics">
                <h2>Image Title 7</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque natus 
                    voluptatibus voluptas quod est ut nulla amet rerum? Perspiciatis dolore enim 
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="../../../assets/img/news.jpg" alt="pics">
                <h2>Image Title 8</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque natus 
                    voluptatibus voluptas quod est ut nulla amet rerum? Perspiciatis dolore enim 
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="../../../assets/img/teacher.jpg" alt="pics">
                <h2>Image Title 9</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque natus 
                    voluptatibus voluptas quod est ut nulla amet rerum? Perspiciatis dolore enim 
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="../../../assets/img/dues.jpg" alt="pics">
                <h2>Image Title 10</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque natus 
                    voluptatibus voluptas quod est ut nulla amet rerum? Perspiciatis dolore enim 
                </p>
            </div>
        </div>
    </div>


    <!-- MODAL -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel">Add Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="file" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-outline-light font-weight-bold" 
                    data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-warning font-weight-bold">
                        Add Image</button>
                </div>
            </div>
        </div>
    </div>


</body>