<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/school.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Total Schools</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-warning">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/teacher.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Total Staff</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-warning">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/excos.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Total Excos</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-warning">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/gallery.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Total Gallery items</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-warning">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/news.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Total News items</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-warning">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/dues.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Total Dues</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-warning">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>
