.container-fluid{
    overflow: hidden;
}

nav{
    background:  #258f51;
    overflow: hidden;
}

nav .container{
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    padding: 1rem;
    transition: all .5s ease;
}

nav li:hover{
    transform: scale(1.25);
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

nav ul li a:hover{
    color: #f1c40f;
    transition: .9s;
    // position: relative;
}

.link-active{
    color: #f1c40f !important;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        height: 2.7px;
        margin-right: 20%;
        margin-left: 20%;
        right: 0;
        left: 0;
        background: #f1c40f;
        bottom: -7px;
    }
}

.toggleview{
    transform: translateY(0) !important; // This line of code will make the navbar diappear so if you use
}

// MEDIE QUERIES

@media (min-width: 770px){
    .icon-bars,
    .img-2{
        display: none !important;
    }  
}

@media(max-width: 769px){

    .icon-bars{
        font-size: x-large;
    }

    .container img{
        width: 80px;
    }

    #navbar-ul{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        width: 17rem;
        padding-top: 1rem;
        margin-bottom: 0;
        padding-bottom: 1rem;
        transition: .5s ease-in-out;
        z-index: 99999;
        background: #258f51;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-200%); // As you can see down here we translated with X this is to make the 
    } // navbar appear from the side ie from left to right but if we use Y it will apppear from top to bottom
}