<body>
    <nav class="container-fluid">
        <div class="container">
            
                <img src="../../../assets/img/napps-icon.png" alt="Napps-Logo" width="100px" >
            
                <ul>
                    <li><a routerLink="/dashboard" routerLinkActive="link-active" [routerLinkActiveOptions]=
                        "{exact:true}" href="#">Dashboard</a></li>
                    <li><a href="#">Staff</a></li>
                    <li><a href="#">Excos</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">News</a></li>
                    <div class="animation start-home"></div>
                </ul>
            
        </div>
    </nav>
</body> 