.container-fluid{
    background-color: rgb(15, 160, 15);
    // padding-bottom: 100%;
    // background-size: cover;
    background-blend-mode: multiply;
    padding-top: 10%;
    padding-bottom: 18%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    
}