
<section> 
    <div>      
        <form action="" class="box animate__animated animate__fadeIn" >
            <img src="../../../assets/img/napps-icon.png" alt="Napps-Logo" width="100px">
            <h1>napps</h1>
            <div class="userDiv">
                <input type="text" placeholder="Email" id="user">
                <label for="user" class="fas fa-user input-icon"></label>
            </div>
            <div class="passDiv">
                <input type="password" placeholder="Password" id="pass">
                <label for="pass" class="fas fa-key input-icon"></label>
            </div>
            <a href="#">Forgot Password?</a>
            <button>Sign in</button>
            <p>Not registered as Admin? </p><a href="#">Register</a>
        </form>
    </div>
</section>

