<html>
    <body class="body"> 
        <div>      
            <form action="" class="box text-white animate__animated animate__fadeIn" >
                <img src="../../../assets/img/napps-icon.png" alt="Napps Logo" width="100px" height="">
                <h1>napps</h1>
                <div>
                    <input type="text" placeholder="Email" >
                </div>
                <div>
                    <input type="password" placeholder="Password">
                </div>
                <a href="#">Forgot Password</a>
                <button>Sign in</button>
                <p>Not registered as Admin? </p><a href="#">Register</a>
            </form>
        </div>
    </body>
</html>
